section.about
	.container
		.about__left--block
			.about__left--block-content
				h2 О нас
				p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ<span class="hidden">, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.</span>
				p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.
			.about__left--block-link
				a(href="#") Подробнее о alivegames
		.about__right--block
			img(src="static/img/img3.jpg", alt="")
