section.photo__work
	.container
		h3 Мы за работой
		.photo__work--slider-block
			.photo__work__slider--nav
				a(class="photo__work__slider--nav-prev" href="")
					+icon('left-arrow-small')
				a(class="photo__work__slider--nav-next" href="")
					+icon('right-arrow-small')
			.photo__work__slider
				img(src="static/img/screen-1-job.jpg" alt="")
				img(src="static/img/screen-2-job.jpg" alt="")
				img(src="static/img/screen-3-job.jpg" alt="")
				img(src="static/img/screen-1-job.jpg" alt="")
				img(src="static/img/screen-2-job.jpg" alt="")
				img(src="static/img/screen-3-job.jpg" alt="")
		p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.