<!--[if lt IE 10]><div class="browsehappy"><p>Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем установить любой из современных браузеров. Это бесплатно и займет всего несколько минут.</p></div><![endif]-->
.mob__menu--overlay
	.mob__menu--wrap
		.mob__menu--header
			a(class="mob__menu--close" href="#")
				img(src="static/img/mob-menu-close.png", alt="Закрыть меню")
		.mob__menu--content
			.mob__menu--block
			.mob__menu--contacts-block
			a(class="btn" href="#") Оставить заявку
header.header.header__home
	.header__top
		.container
			a(class="mob__menu--open" href="#")
				img(src="static/img/mob-menu.png", alt="Открыть меню")
			a(class="header__top--logo" href="#")
				img(src="static/img/logo_top.png", alt="")
			ul.menu
				li
					a(href="#") Компания
				li
					a(href="#") Услуги
					ul
						li
							a(href="#") Разработка игр
						li
							a(href="#") 3D моделинг и рендеринг
						li
							a(href="#") Иллюстрации и дизайн
						li
							a(href="#") Симуляция и визуализация
				li
					a(href="#") Портфолио
				li
					a(href="#") Новости
				li
					a(href="#") Контакты
			.lang
				a(class="active__lang" href="#") Ru
				a(href="#") En
.home__slider
	.home__slider--nav
		a(class="home__slider--nav-prev" href="")
			+icon('left-arrow-big')
		a(class="home__slider--nav-next" href="")
			+icon('right-arrow-big')
	.container
		.home__slider--content
			article
				header
					h1 Бесплатный расчет стоимости разработки игры
				figure
						img(src="static/img/phones.png", alt="")
				p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.
				footer
					a(class="btn" href="#") Оставить заявку
			article
				header
					h1 Бесплатный расчет стоимости разработки игры 2
				figure
						img(src="static/img/phones.png", alt="")
				p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.
				footer
					a(class="btn" href="#") Оставить заявку
			article
				header
					h1 Бесплатный расчет стоимости разработки игры 3
				figure
						img(src="static/img/phones.png", alt="")
				p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.
				footer
					a(class="btn" href="#") Оставить заявку

