section.news
	.container
		.news__header
			h2 Свежие новости
			.news__slider--nav
				a(class="news__slider--nav-prev" href="")
					+icon('left-arrow-small')
				a(class="news__slider--nav-next" href="")
					+icon('right-arrow-small')
		.news__content
			.news__content--slider
				.news__item
					.news__item--img
						img(src="static/img/img4.jpg", alt="")
					.news__item--date
						span.big__date 03
						span /07
					.news__item--content
						h5 Коротко о том, как происходит процесс разработки 
						a(href="#") Подробнее
				.news__item
					.news__item--img
						img(src="static/img/img4.jpg", alt="")
					.news__item--date
						span.big__date 01
						span /07
					.news__item--content
						h5 Коротко о том, как происходит процесс разработки 
						a(href="#") Подробнее
				.news__item
					.news__item--img
						img(src="static/img/img4.jpg", alt="")
					.news__item--date
						span.big__date 23
						span /07
					.news__item--content
						h5 Коротко о том, как происходит процесс разработки 
						a(href="#") Подробнее
				.news__item
					.news__item--img
						img(src="static/img/img4.jpg", alt="")
					.news__item--date
						span.big__date 03
						span /07
					.news__item--content
						h5 Коротко о том, как происходит процесс разработки 
						a(href="#") Подробнее

