section.works.services#tabs
	.container
		.works__block--content
			.works__block--content-left
				.works__block--content-left-content
					div
						h2 этапы работы<br> над проектом
						ul.tabs
							li.tab
								a(class="active_tab" href="#tab-1") аналитика
							li.tab
								a(href="#tab-2") проектирование
							li.tab
								a(href="#tab-3") дизайн
							li.tab
								a(href="#tab-4") Разработка
							li.tab
								a(href="#tab-5") тестирование
							li.tab
								a(href="#tab-6") поддержка
			.works__block--content-right.services__block--content-right
				.tab_content#tab-1
					.tab__header
						h5 Аналитика
						p Разработка игр под мобильные ОС iOS и Android начинается с определения и дальнейшего описания всех функций будущего продукта. Детализированная схема (задание) на разработку служит основой для создания прототипа.
						p Результат — интерактивный прототип приложения со всеми планируемыми функциями.
					a(class="btn" href="#") Заказать мобильную игру
				.tab_content#tab-2
					.tab__header
						h5 Проектирование игры
						p Разработка игр под мобильные ОС iOS и Android начинается с определения и дальнейшего описания всех функций будущего продукта. Детализированная схема (задание) на разработку служит основой для создания прототипа.
						p Результат — интерактивный прототип приложения со всеми планируемыми функциями.
					a(class="btn" href="#") Заказать мобильную игру