section.team.team__pages
	.container
		.team__block--content
			.team__block--content-left
				.team__block--content-left-content
					div
						h2 Команда AliveGames
						p Команда компании AliveGames занимается разработкой игр для любых платформ, а тауже 3D моделингом и рендерингом. Мы профессионально создаем иллюстрации и дизайн, симуляции и визуализацию.
					.team__slider--nav
						a(class="team__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="team__slider--nav-next" href="")
							+icon('right-arrow-small')
			.team__block--content-right
				.team_content
					.team__slider
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
						figure
							img(src="static/img/img2.jpg", alt="")
							figcaption
								.team__wrap
									.team__name
										h5 Афонасов Анатолий
										span.prof CEO/Founder
									.team__name--contacts
										a(href="#")
											+icon('icons_envelope')
										a(href="#")
											+icon('icons_phone')
										a(class="skype" href="#")
											+icon('icons_skype')
