section.works.services__section
	.container
		.works__block--content
			.works__block--content-left
				.works__block--content-left-content
					div
						h2 Стоимость разработки
						p Здесь указаны примерные цены на разработку. Окончательно оценить проект мы сможем только после составления детальной сметы и технического задания.
					.services__slider--nav#services-slider-nav
						a(class="works__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="works__slider--nav-next" href="")
							+icon('right-arrow-small')
			.works__block--content-right
				.services__slider--nav#services-slider-nav-mob
						a(class="works__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="works__slider--nav-next" href="")
							+icon('right-arrow-small')
				.services__slider
					.services__slider--item
						.services__slider--item-header
							h5 Игра под ios
							p Краткое описание данной услуги. Текст, привлекающий внимание и побуждающий.
						.services__slider--item-content
							strong Что входит в разработку:
							ul
								li
									+icon('icons_up-arrow')
									| Подробный проект 
								li
									+icon('icons_up-arrow')
									| Дизайн всех необходимых экранов
								li
									+icon('icons_up-arrow')
									| Разработка игры
								li
									+icon('icons_up-arrow')
									| Продвижение игры в AppStore
						.services__slider--item-footer
							p от 80 000 р.
					.services__slider--item
						.services__slider--item-header
							h5 Игра под ios
							p Краткое описание данной услуги. Текст, привлекающий внимание и побуждающий.
						.services__slider--item-content
							strong Что входит в разработку:
							ul
								li
									+icon('icons_up-arrow')
									| Подробный проект 
								li
									+icon('icons_up-arrow')
									| Дизайн всех необходимых экранов
								li
									+icon('icons_up-arrow')
									| Разработка игры
								li
									+icon('icons_up-arrow')
									| Продвижение игры в AppStore
						.services__slider--item-footer
							p от 80 000 р.
					.services__slider--item
						.services__slider--item-header
							h5 Игра под ios
							p Краткое описание данной услуги. Текст, привлекающий внимание и побуждающий.
						.services__slider--item-content
							strong Что входит в разработку:
							ul
								li
									+icon('icons_up-arrow')
									| Подробный проект 
								li
									+icon('icons_up-arrow')
									| Дизайн всех необходимых экранов
								li
									+icon('icons_up-arrow')
									| Разработка игры
								li
									+icon('icons_up-arrow')
									| Продвижение игры в AppStore
						.services__slider--item-footer
							p от 80 000 р.
					.services__slider--item
						.services__slider--item-header
							h5 Игра под ios
							p Краткое описание данной услуги. Текст, привлекающий внимание и побуждающий.
						.services__slider--item-content
							strong Что входит в разработку:
							ul
								li
									+icon('icons_up-arrow')
									| Подробный проект 
								li
									+icon('icons_up-arrow')
									| Дизайн всех необходимых экранов
								li
									+icon('icons_up-arrow')
									| Разработка игры
								li
									+icon('icons_up-arrow')
									| Продвижение игры в AppStore
						.services__slider--item-footer
							p от 80 000 р.