section.works.works__services
	.container
		.works__block--content
			.works__block--content-left
				.works__block--content-left-content
					div
						h2 Некоторые из<br> наших работ
						p Разработка мобильных игр под android и ios - одно из основных направлений нашей компании.
						p Создание мобильных игр ведется профессиональной командой, состоящей из руководителя проекта, гейм-сценариста, программистов, дизайнеров, 3D-художников, аниматоров и тестировщиков, уже имеющей опыт выхода на рынок мобильных игр.
						a(href="#") Смотреть другие работы

			.works__block--content-right
				.tab_content
					.works__slider.works__slider--services
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img21.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img22.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img23.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
