section.works.works__pages#tabs
	.container
		.works__block--content
			.works__block--content-left
				.works__block--content-left-content
					div
						h2 Другие<br> наши работы
						ul.tabs
							li.tab
								a(class="active_tab" href="#tab-1") Разработка игр
							li.tab
								a(href="#tab-2") 3D моделинг и рендеринг
							li.tab
								a(href="#tab-3") Иллюстрации и дизайн
							li.tab
								a(href="#tab-4") Симуляция и визуализация
					.works__slider--nav#nav
						a(class="works__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="works__slider--nav-next" href="")
							+icon('right-arrow-small')
					.works__slider--nav#nav2
						a(class="works__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="works__slider--nav-next" href="")
							+icon('right-arrow-small')
					.works__slider--nav#nav3
						a(class="works__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="works__slider--nav-next" href="")
							+icon('right-arrow-small')
					.works__slider--nav#nav4
						a(class="works__slider--nav-prev" href="")
							+icon('left-arrow-small')
						a(class="works__slider--nav-next" href="")
							+icon('right-arrow-small')
			.works__block--content-right
				.tab_content#tab-1
					.works__slider#sl-1
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img21.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img22.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img23.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
				.tab_content#tab-2
					.works__slider#sl-2
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img21.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img22.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img23.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
				.tab_content#tab-3
					.works__slider#sl-3
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img21.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img22.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img23.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
				.tab_content#tab-4
					.works__slider#sl-4
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img21.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img22.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img23.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")
						figure
							img(src="static/img/img1.jpg", alt="")
							figcaption
								a(href="#")
									h5 Визуализация персонажа по эскизам
									img(class="zoom" src="static/img/lupa.png", alt="")