extends ../layout/main-all

block content
	.page__title.page__title--page(style="background: url(static/img/bg7.jpg) no-repeat 50% 0/cover")
		.container
			.breadcrumbs
				ul
					li
						a(href="#") Портфолио alivegames 
					li
						span /
					li
						a(href="#") Разработка игр
			h1.project__title Название одного<br> проекта из портфолио
			.project__description
				p Краткое описание проекта. Какая была поставлена задача, что было интересного в процессе разработки. Для какой ОС была создана игра. Каких результатов достигли. 
	.main__page
		.container
			p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.
			p Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию. Команда компании AliveGames занимается разработкой игр для любых платформ, а также 3D моделингом и рендерингом. Мы создаем иллюстрации и дизайн, симуляции и визуализацию.
	include ../modules/foto-screen
	include ../modules/video
	include ../modules/works-pages
	include ../modules/form



