extends ../layout/main-all

block content
	.page__title.page__title--page(style="background: url(static/img/bg5.jpg) no-repeat 50% 0/cover")
		.container
			h1.services__title Разработка игр<br> для различных платформ
			.project__description
				p Краткое описание проекта. Какая была поставлена задача, что было интересного в процессе разработки. Для какой ОС была создана игра. Каких результатов достигли.
				a(class="btn" href="#") заказать бесплатный расчет
	include ../modules/projects
	include ../modules/works-services
	include ../modules/works-services-slider
	include ../modules/form



