include ../mixins
doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="static/css/main.css")
		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	body
		include ../modules/header-all
		block content
		include ../modules/footer
		script(src="static/js/libs.min.js")
		<script>svg4everybody();</script>
		script(src="static/js/main.js")